*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  margin: 0;
  font-family: 'Fragment Mono', monospace;
  background-color: #FCF6F5FF;
  color: #424949;
}
.v-hidden {
  visibility: hidden;
}
.container {
  max-width: 48rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
.title {
  font-family: 'Faster One', cursive;
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0 0;
  color: #0582ca;
}
.lead {
  margin: 2rem 0 0;
  font-size: 1.8rem;
}
.instructions {
  margin: 1rem 0 0;
  font-size: 1.6rem;
  font-style: italic;
}
.form {
  margin: 2rem 0 0;
  display: flex;
  flex-direction: column;
}
.form-group {
  margin-bottom: 1rem;
}
.form-group label {
  font-size: 1.4rem;
}
.form-group textarea {
  width: 100%;
  min-height: 10rem;
  resize: none;
  color: #0582ca;
}
.form-group input[type='text'] {
  background-color: #FCF6F5FF;
  width: 5rem;
  font-size: 1.8rem;
  border: none;
}
.form-group input[type='radio'] {
  width: 2rem;
  height: 2rem;
}
.form-group select {
  padding: 0.5rem;
  color: #0582ca;
}
.teams {
  font-size: 2rem;
}
.btn {
  max-width: 24rem;
  width: 100%;
  margin: 0.5rem auto;
  padding: 1rem 2rem;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
}
.btn-primary {
  background-color: #0582ca;
}
.btn-secondary {
  background-color: #f29559;
}
.text-danger {
  font-weight: 500;
  color: #f29559;
}
.dev {
text-align: center;
}