*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  margin: 0;
  font-family: 'Fragment Mono', monospace;
  font-size: 1rem;
  background-color: #fcf6f5ff;
  color: #424949;
}
.container {
  max-width: 48rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
.title {
  font-family: 'Faster One', cursive;
  font-size: 2em;
  text-align: center;
  margin: 2rem 0;
  color: #0582ca;
}
.lead {
  font-size: 1.6em;
}
.instructions {
  padding-left: 2rem;
  font-size: 1.4em;
  font-style: italic;
}
.line {
  border: 1px solid #0582ca;
}
.form {
  display: flex;
  flex-direction: column;
}
.form-group {
  margin-bottom: 1rem;
}
.form-group label {
  font-size: 1.4em;
}
.form-group textarea {
  width: 100%;
  resize: none;
  color: #0582ca;
}
.form-group input[type='text'] {
  background-color: #fcf6f5ff;
  width: 5rem;
  font-size: 2em;
  border: none;
}
.form-group input[type='radio'] {
  width: 1.6rem;
  height: 1.6rem;
}
.form-group select {
  padding: 0.5rem;
  color: #0582ca;
}
.form-group-variant {
  display: flex;
  justify-content: center;
}
.text-center {
  text-align: center;
}
.v-hidden {
  visibility: hidden;
}
.teams {
  font-size: 2em;
}
.btn {
  max-width: 24rem;
  width: 100%;
  margin: 0.5rem auto;
  padding: 1rem 2rem;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
}
.btn-primary {
  background-color: #0582ca;
}
.btn-secondary {
  background-color: #f29559;
}
.text-danger {
  font-weight: 500;
  color: #f29559;
}
.dev {
  text-align: center;
}
@media screen and (min-width: 375px) {
  body {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 414px) {
  body {
    font-size: 1.3rem;
  }
}
