*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  margin: 0;
  padding: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
textarea {
  width: 100%;
  height: 12rem;
  resize: none;
}
input[type='text'] {
  width: 10rem;
  font-size: 2rem;
  border: none;
}
input[type='radio'] {
  width: 2rem;
  height: 2rem;
}
.container {
  max-width: 48rem;
  width: 100%;
  margin: auto;
}
.title {
  font-size: 3rem;
  text-align: center;
}
.lead {
  font-size: 2.5rem;
}
.instructions {
  font-size: 1.8rem;
}
.group {
  margin-bottom: 1rem;
}
.teams {
  font-size: 2rem;
}
.btn {
  max-width: 24rem;
  width: 100%;
  margin: 0.5rem auto;
  padding: 1rem 2rem;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
}
.btn-primary {
  background-color: #0582ca;
}
.btn-secondary {
  background-color: #f29559;
}
.text-danger {
  font-weight: 500;
  color: red;
}
